nav{
    height: 8vh;
    width: 96vw;
    max-width:100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    position: fixed;
    top: 0;
  }
  
nav div{
    font-size: larger;
    font-weight:600;
    color: #5c5a5a;
  }
  
.navDiv__logo{
    width: 50vw;
  }

.navDiv__logout, .navDiv__account{
  cursor: pointer;
}

.navDiv__lightboxWrapper{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background-color: rgba(179, 177, 177, 0.452);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navDiv__lightbox{
  min-height: 70vh;
  width: 60vw;
  background-color: white;
  border: solid black 2px;
  border-radius: 3em;
  margin-bottom: 2em;
}
  
#icon{
  padding-right: 1em;
}