body{
  background-color: #d6e6e6;
}

nav{
  height: 8vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
}

nav div{
  font-size: larger;
  color: #5c5a5a;
}

.navDiv__logo{
  width: 50vw;
}

.lightbox{
  width: 100vw;
  height: 100vh;
  background-color: #686666be;
  position: fixed;
  top: 0;
  left: 0;
}

.signUp, .login{
  width: 50vw;
  height: 60vh;
  background-color: white;
  position: fixed;
  top: 25%;
  left: 25%;
}

.signUp__form, .login__form{
  height: 70%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.closeLightBox{
  position: fixed;
  right: 28%;
  top: 28%;
}